<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691857055595-pil72f834rdk6jm4a7ia38ktqnd5c3i4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691857055595-pil72f834rdk6jm4a7ia38ktqnd5c3i4</string>
	<key>API_KEY</key>
	<string>AIzaSyCboDRTYDj4WQFWli8oZH0HaEgr9F6YPrA</string>
	<key>GCM_SENDER_ID</key>
	<string>691857055595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tstick.scheduler</string>
	<key>PROJECT_ID</key>
	<string>scheduler-29a0a</string>
	<key>STORAGE_BUCKET</key>
	<string>scheduler-29a0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691857055595:ios:9b7958e49308befe79b62e</string>
	<key>DATABASE_URL</key>
	<string>https://scheduler-29a0a.firebaseio.com</string>
</dict>
</plist>